.display-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.Allcharacters-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    place-items: centre;
    width: 100%;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 4rem;
    padding: 2rem 0;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card img{
    width: 100%;
    height: 16rem;
    object-fit: contain;
}
.card .details-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    line-height: 0;
}
.card .details-container h1{
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    color: red;
}
.card .details-container p span{
    font-family: 'Raleway', sans-serif;
}
.card .details-container p{
    font-family: 'Raleway', sans-serif;
}