h1 {
  font-family: 'Castoro Titling', cursive;
  font-size: 8rem;
  color: blue;
}
a {
  color: rgb(57, 60, 252);
  text-decoration: none;
  font-weight: 900;
}
button {
  color: rgb(57, 60, 252);
  border: 1px solid red;
  border-radius: 4px;
  background-color: red;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  width: 15vw;
  height: 5rem;
}

.landingPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 2px solid yellow;
}
 .welcome-msg{
    border-right: 5px solid red;
    padding: 5rem;
    width: 50%;
}